
body{
  display:grid;
 justify-content: center;
 align-items: center;
  

}
.main{
  height:200px;
  width:200px;
  background-color:black;
  display:grid;
  grid-template-columns: auto auto auto;
  place-items: center;
}

.box{
  height: 60px;
  width: 60px;
  background-color: red;
  font-size:40px ;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.msg{
  color:black;
  font-size: 40px;
}

.resetbtn{
  width:100px;
  height: 30px;
  margin-left: 60px;
  background-color: black;
  color: azure;
  border-radius: 9px;

}